In [1]:
#1

def count_characters_in_string(input_string):
    char_count = {}

    for char in input_string:
        if char in char_count:
            char_count[char] += 1
        else:
            char_count[char] = 1

    for char, count in char_count.items():
        print(f"{char}={count}", end=", ")
    print("\b\b")

input_string = input("Enter a string value: ")
count_characters_in_string(input_string)

Enter a string value: assembly
a=1, s=2, e=1, m=1, b=1, l=1, y=1, 

In [3]:
#2

def maximum(a, b, c):
    if (a >= b) and (a >= c):
        largest = a

    elif (b >= a) and (b >= c):
        largest = b

    else:
        largest = c

    return largest
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
c = int(input("Enter the third number: "))

print(maximum(a, b, c))

Enter the first number: 34
Enter the second number: 12
Enter the third number: 7
34

In [4]:
#3

def exponent(base,exp):
  P=base**exp
  return P
base = 2
exp = 3
print(exponent(base,exp))

8

In [5]:
#4

def sum_of_cubes(n):
    n -= 1
    total = 0
    while n > 0:
        total += n * n * n
        n -= 1
    return total

print("Sum of cubes smaller than the specified number: ", sum_of_cubes(4))

Sum of cubes smaller than the specified number:  36

In [6]:
#5

for i in range(1,11):
  if i % 2 == 0 and i % 5 == 0:
    print("FizzBuzz")
    continue
  elif i % 2 == 0:
    print("Fizz")
    continue
  elif i % 5 == 0:
    print("Buzz")
    continue
  else:
    print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

In [7]:
#6

def most_frequent(List):

    counter = 0
    num = List[0]

    for i in List:

        curr_frequency = List.count(i)

        if(curr_frequency> counter):

            counter = curr_frequency
            num = i
            return num

List = [2, 3, 4, 2, 5, 2]

print(most_frequent(List))

2

In [8]:
#7

def sum_of_squares(numbers):
  sum = 0
  for x in numbers:
    sum += x**2
  return sum

numbers = [2, 1, 3, 1]
print(sum_of_squares(numbers))

15

In [9]:
#8

def odd_or_even():
    for i in range(1, 16):
        if i % 2 == 0:
            print(f"{i}-even")
        else:
            print(f"{i}-odd")

odd_or_even()

1-odd
2-even
3-odd
4-even
5-odd
6-even
7-odd
8-even
9-odd
10-even
11-odd
12-even
13-odd
14-even
15-odd

In [10]:
#9

def fahrenheit_to_celsius(f):
    c = (f - 32) * 5 / 9
    return c
f = 41
print(f"Temperature in Celsius = {fahrenheit_to_celsius(f)}")

Temperature in Celsius = 5.0

In [11]:
#10

def factorial(n):
	fact=1
	for i in range(1,n+1):
		fact=fact*i
	return fact

n=int(input("Enter positive number 'N': "))
print(factorial(n))

Enter positive number 'N': 3
6