In [ ]:
# 1
Radius = float (input ("Please enter the radius of the given circle: "))
area = 3.14 * Radius * Radius
print (" The area of the given circle is: ", area)

Please enter the radius of the given circle: 3
 The area of the given circle is:  28.259999999999998

In [ ]:
# 2
name = input("Enter the name: ")
roll_number = input("Enter the roll number: ")
mark = input("Enter the mark: ")

print("Name:", name)
print("Roll No:", roll_number)
print("Mark:", mark)

Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Name: Anisha
Roll No: 21
Mark: 78

In [ ]:
# 3
lst = [12, 3, 47, 10]
lst.sort()
print(lst[-1], "is the largest number")

47 is the largest number

In [ ]:
# 4
num = list(range(10))
previousNum = 0
for i in num:
    sum = previousNum + i
    print(f'Current Number {i} Previous Number {previousNum} sum {sum}')
    previousNum = i

Current Number 0 Previous Number 0 sum 0
Current Number 1 Previous Number 0 sum 1
Current Number 2 Previous Number 1 sum 3
Current Number 3 Previous Number 2 sum 5
Current Number 4 Previous Number 3 sum 7
Current Number 5 Previous Number 4 sum 9
Current Number 6 Previous Number 5 sum 11
Current Number 7 Previous Number 6 sum 13
Current Number 8 Previous Number 7 sum 15
Current Number 9 Previous Number 8 sum 17

In [ ]:
# 5
f = [10, 20,33,46,55]
g = []

for i in f:
    if i%5 == 0:
      g.append(i)
print(g)

[10, 20, 55]

In [ ]:
# 6
j = int(input('enter number: '))
if j>1:
  for i in range(2,j):
    if j%i==0:
     print(j,'is not prime')
     break
  else:
    print(j,'is prime')
else:
  print(j,'is not prime')

enter number: 3
3 is prime

In [ ]:
# 7
lst = [10,40,30,70]
rlst = []
for i in range(len(lst)-1, -1, -1):
  rlst.append(lst[i])

print("Reverse List ",rlst)

Reverse List  [70, 30, 40, 10]

In [ ]:
# 8
for i in range(1, 6):
    for j in range(i):
        print("*",end="")
    print()

*
**
***
****
*****

In [ ]:
# 9
a =34
b = 12
c = 7
if a>b and a>c:
  print(a, 'is greater')
elif b>a and b>c:
  print(b, 'is greater')
else:
  print(c, 'is greater')

34 is greater

In [ ]:
# 10
for i in range(1, 6):
    for j in range(i):
        print("*", end="")
    print()

for i in range(4, 0, -1):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****
****
***
**
*